@page "/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager NavigationManager
<h3>Logged out</h3>
Voce esta saindo da aplicação

@code {
    [CascadingParameter]
    public HttpContext? httpContext{ get; set;  }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (httpContext.User.Identity.IsAuthenticated)
        {
            await httpContext.SignOutAsync();
            NavigationManager.NavigateTo("/logout",true);
        }
    }
}
