@page "/"
@inject CustomAuthenticationStateProvider AuthenticationStateProvider

<AuthenticationInitializer />

<PageTitle>Página inicial</PageTitle>

<h1>Página inicial</h1>
<p>
Edson aqui,
</p>
<p>
Página criada para implementar um sistema de login usando blazor server em uma API externa.<br/>
</p>

<AuthorizeView>
        <Authorized>
        <p>Hello, @context.User.Identity.Name!</p>
    </Authorized>
</AuthorizeView>
@code{
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}
