@page "/"
@inject CustomAuthenticationStateProvider AuthenticationStateProvider

<AuthenticationInitializer />

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
        <Authorized>
        <p>Hello, @context.User.Identity.Name!</p>
    </Authorized>
</AuthorizeView>
@code{
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}